#comment {
    width: 100%;

}
#commentHeader{
    text-align: left !important;
}

#comment:hover{
    box-shadow: 5px 5px 5px rgb(57,60,60);
    transition: transform .2s ease-out;
    transform: scale(1.01);
}
